body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 16px Helvetica,sans-serif;
}

a {
    color: #22a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.simple-button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.container {
    display: block;
    margin: 20px;
}

.header {
    background-color: #e8e8e8;
}

.simple-input {
    width: 100%;
}

textarea {
    padding: 15px;
    margin: 15px;
    margin-left: 0;
    white-space: pre-wrap;
    text-align: left;
    width: 100%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 1;
    margin: -76px 0 0 -76px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
