body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 16px Helvetica,sans-serif;
}

a {
    color: #22a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.simple-button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.container {
    display: block;
    margin: 20px;
}

.header {
    background-color: #e8e8e8;
}

.simple-input {
    width: 100%;
}

textarea {
    padding: 15px;
    margin: 15px;
    margin-left: 0;
    white-space: pre-wrap;
    text-align: left;
    width: 100%;
}
